%p#notice= notice

.edit_box
  %p
    %b.users_show 名前:
    = @user.name
  %p
    %b.users_show メールアドレス:
    = @user.email
  %p
    %b.users_show ユーザー権限:
    = @user.status
  %p
    %b.users_show カード情報:
    = @user.card_id

= link_to '編集', edit_user_path(@user), class: "btn btn-primary"
= link_to '戻る', users_path, class: "btn btn-default"
