%h1 ユーザー一覧

%table
  %thead
    %tr
      %th 名前
      %th メールアドレス
      %th 権限
      %th 
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.status
        %td= link_to '詳細', user, class: "btn btn-default"
        %td= link_to '編集', edit_user_path(user),  class: "btn btn-default"
        %td= link_to '削除', user, :method => :delete, :data => { :confirm => '本当に削除してもよろしいですか?' },  class: "btn btn-default"

%br

= link_to 'New User', new_user_path, class: "btn btn-default"
