%h2 ユーザーの新規登録

= form_for @user do |f|
  .new_users_form
    = f.label :name
    = f.text_field :name, class: "form-control"
    = f.label :email
    = f.text_field :email, class: "form-control"
    = f.label :password
    = f.password_field :password, class: "form-control"
    = f.submit
